<div class="container pt-5">
  <div class="row justify-content-center listing">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

      <h2 class= "">List a new Ceremony</h2><br>
          <%= simple_form_for(@ceremony) do |f| %>
            <%= f.input :name, required: true, autofocus: true %>
            <%= f.input :description, required: true %>
            <%= f.input :location, required: true %>
            <%= f.input :duration, required: true %>
            <%= f.input :total_price, required: true %>
            <%= f.input :photo, as: :file%><br>
            <%= f.submit "List a ceremony", class: "btn btn-outline-dark btn-lg btn-block" %>
          <% end %>
    </div>
  </div>
</div>
